 /*  
Author: Jazalle Amps
File Name: styles.css
Date: 05/06/2026
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption, section, article {
  margin: 0;
  padding: 0; 
  border: 0;
}

html {
  font-size: 16px; 
}

h1 {
  font-size: 1.5rem; 
  text-align: center;
}

header h1 {
  color: #2D4A43;
  font-family: "Fascinate", system-ui;
  font-size: 2.5rem;
}

header h3 {
  color: #542424;
  font-family: "Aleo", serif;
}

/* Style rules for body and images */
body {
  background-color: #F2C177;
}

img {
  max-width: 500px; 
  height: auto;
  display: block;
}

.smaller-image {
  width: auto;
  height: auto;
}

/* Style rules for mobile viewport */
  @media screen and (max-width: 600px) {
    body {
      font-size: 16px; /* Recommended minimum for mobile readability */
    }
    img {
      max-width: 100%; /* Prevents horizontal scrolling */
      height: auto;
    }
  }

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}


/* Style rules for header area */
.mobile h1, .mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
   font-family: 'Emblema One', cursive;
}

.mobile h3 {
   font-family: 'Lora', serif;
}


/* Style rule for navigation area */
nav {
  background-color: #FF9473;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  border-top: 0.5px solid #FFEDD9;
  font-size: 1.5em;
  font-family: "Alexandria", sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #FFEDD9;
  padding: 0.5em 2em;
  text-decoration: none;
}


/* Style rules for main content */
main {
  padding: 2%;
  color: #542424;
  font-family: "Aleo", serif;
}

main p {
  font-size: 1.25em;
  width: 60%;   
  margin: auto;
  margin-top: 10px;
  margin-bottom: 1.5em;
  text-align: center;
  color: #542424;
  font-family: "Aleo", serif;
}

main a {
  text-decoration: none;
  color: #542424;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: none;
}

/* researched how to do alignment with W3Schools */
article, section {
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;  
}

div {
  display: flex;
  justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Viewport for canva */
.docs {
  border: 5px solid #FF9473;
    width: 100%; 
    height: 700px; 
}
.canva:hover {
  transform: scale(1.05)
}
/* Style rules for class and id selectors */
.link {
  color: #FF9473;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.round {
  border-radius: 6px;
}

aside {
  color: #2D4A43;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.75rem;
  font-weight: bold; 
}

/* button made with W3Schools */
#button {
    list-style: none;      
    padding: 10px 20px;            
    margin: 0 auto;  
    margin-bottom: 15px;          
    display: inline-block;         
    align-items: center;  
    text-align: center;           
}


#button li a {
    display: block;
    background-color: #2F5052; 
    font-weight: bold; 
    color: #D3F7D0;          
    padding: 10px 20px;        
    text-align: center;   
    text-decoration: none; 
    font-size: 1.2rem;
    font-family: "Alexandria", sans-serif;
    border-radius: 20%;      
    border-top: 0.5px solid #D3F7D0;      
    cursor: pointer;
    transition: transform 0.3s;
}

#button li a:hover {
  transform: scale(1.05); 
}

.bubble {
  display: inline-block; 
  background-color: #FFE8C4; 
  padding: 10px 20px; 
  border-radius: 20px;  
}

figure, img {
  border: none;
  max-height: 400px;
  width:auto;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  text-align: center;
  font-family: "Aleo", serif;
}

.canva:hover {
  transform: scale(1.05)
}

/* Style rules for Table */
table, th, td {
  border: 1px solid #542424;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td:nth-child(odd), th:nth-child(odd) {
  background-color: #419b89;
} 
td:nth-child(even), th:nth-child(even) {
  background-color: #fe8d6b;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #FF9473;
  color: #FFEDD9;
  padding: 1% 0%;
}

footer a {
  color: #FFEDD9;
  text-decoration: none;
}

footer p {
 color: #FFEDD9;
 font-family: "Aleo", serif;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

  /* Tablet Viewport: Show tab-desk class, hide mobile class */
 .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }


/* Tablet Viewport: Style rules for nav area */
nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.25em;
}

nav li a {
  padding: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  }

aside {
  grid-column: 1 / span 2;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

  #wrapper {
    max-width: 1200px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  
}

/* Desktop Viewport: Style rules for nav area */
nav li {
    font-size: 1.5em;
}

nav li a {
    padding: 0.5em 1.5em;
}

nav li a:hover {
    color: #FF9473;
    background-color: #FFEDD9;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    text-align: center;
}


body {
    background: linear-gradient(#F2C177, #FFF7E3);
}

}

/* Desktop Viewport: Style rules for main content */

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
  body {
    background: linear-gradient(#F2C177, #FFF7E3);
  }

  #wrapper {
    width: 1920px;
    margin-left: auto; 
    margin-right: auto;
    padding: 0 10px; 
    margin-bottom: 20px; 
  }

  main {
    background-color: #F2C177;
  }


  figure {
  max-width: 100%; 
  width: 800px;
  margin: 1rem auto; 
  text-align: center;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  contain: inline-size; 
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

  .grid {
    grid-template-columns: auto auto auto;
  }

  aside {
    grid-column: 1 / span 3; 
    font-size: 3em; 
  }

}
