 /*  
Author: Jazalle Amps
File Name: styles.css
Date: 05/06/2026
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
  margin: 0;
  padding: 0; 
  border: 0;
}

html {
  font-size: 16px; 
}

h1 {
  font-size: 1.5rem; 
}

header h1 {
  color: #2D4A43;
  font-family: "Fascinate", system-ui;
  font-size: 40px;
}

header h3 {
  color: #542424;
  font-family: "Aleo", serif;
}

/* Style rules for body and images */
body {
  background-color: #F2C177;
}

img {
  max-width: 500px; 
  height: auto;
  display: block;
}

.smaller-image {
  width: auto;
  height: auto;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}


/* Style rules for header area */
.mobile h1, .mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
   font-family: 'Emblema One', cursive;
}

.mobile h3 {
   font-family: 'Lora', serif;
}


/* Style rule for navigation area */
nav {
  background-color: #FF9473;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: block;
  border-top: 0.5px solid #FFEDD9;
  font-size: 1.5em;
  font-family: "Alexandria", sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #FFEDD9;
  padding: 0.5em 2em;
  text-decoration: none;
}


/* Style rules for main content */
main {
  padding: 2%;
  color: #542424;
  font-family: "Aleo", serif;
}

main p {
  font-size: 1.25em;
  margin: auto;
  text-align: center;
  color: #542424;
  font-family: "Aleo", serif;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style-type: none;
}

div {
  display: flex;
  justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Viewport for canva */
.canva {
  border: 5px solid #FF9473;
	width: 95%;
	height: 50%
}

/* Style rules for class and id selectors */
.link {
  color: #FF9473;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.round {
  border-radius: 6px;
}

aside {
  color: #2D4A43;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold; 
}

#button {
    list-style: none;      
    padding: 10px 20px;            
    margin: 0 auto;  
    margin-bottom: 15px;          
    display: inline-block;         
    align-items: center;  
    text-align: center;           
}


#button li a {
    display: block;
    background-color: #2F5052; 
    font-weight: bold; 
    color: #D3F7D0;          
    padding: 10px 20px;        
    text-align: center;   
    text-decoration: none; 
    font-size: 1.2rem;
    font-family: "Alexandria", sans-serif;
    border-radius: 20%;      
    border-top: 0.5px solid #D3F7D0;      
    cursor: pointer;
    transition: transform 0.3s;
}

#button li a:hover {
  transform: scale(1.05); 
}

figure, img {
  border: none;
  max-height: 400px;
  width:auto;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  text-align: center;
  font-family: "Aleo", serif;
}

#example {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}

#info ul {
  margin-left: 10%;
}

#contact {
  text-align: center;
}

#contact aside {
  color: #2D4A43;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold; 
}

#contact p {
  font-size: 1.25em;
  margin: auto;
  text-align: center;
  color: #542424;
  font-family: "Aleo", serif; 
}

#contact a {
  color: #542424;
  text-decoration: none;
}

footer a {
  color: #FFEDD9;
  text-decoration: none;
}

.tel-link {
  background-color: #FF9473;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a {
  color: #FF9473;
  text-decoration: none;
  font-weight: bold;
}


/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #FF9473;
  color: #FFEDD9;
  padding: 1% 0%;
}

footer a {
  color: #FFEDD9;
  text-decoration: none;
}

footer p {
 color: #FFEDD9;
 font-family: "Aleo", serif;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

  /* Tablet Viewport: Show tab-desk class, hide mobile class */
 .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }


/* Tablet Viewport: Style rules for nav area */
nav li {
  border-top: none;
  display: inline-block;
  font-size: 1.25em;
}

nav li a {
  padding: 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  }

aside {
  grid-column: 1 / span 2;
  }

}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {

/* Desktop Viewport: Style rules for nav area */
nav li {
    font-size: 1.5em;
}

nav li a {
    padding: 0.5em 1.5em;
}

nav li a:hover {
    color: #FF9473;
    background-color: #FFEDD9;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    text-align: center;
}


body {
    background: linear-gradient(#F2C177, #FFF7E3);
}


/* Desktop Viewport: Style rules for main content */
#info ul {
    margin-left: 5%;
}

}


/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
  body {
    background: linear-gradient(#F2C177, #FFF7E3);
}

#wrapper {
    width: 1920px;
    margin-left: auto; 
    margin-right: auto;
    padding: 0 10px; 
}

main {
    background-color: #F2C177;
}

.grid {
    grid-template-columns: auto auto;
  }

  aside {
    grid-column: 1 / span 2; 
    font-size: 3em; 
  }

#site-content, .img-captioned {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

}